.root {
	-fx-background-color: #565656;
}

Alert{
	-fx-background: #565656;
}

Label{
	-fx-text-fill: white;
}

DatePicker Label{
	-fx-text-fill: black;
}

Button{
	-fx-text-fill: white;
	-fx-background-color: #3B3B3B;
}

Button:hover{
	-fx-background-color: #02BACC;
}

#GridPaneEcart{
	-fx-hgap: 5;
	-fx-vgap: 15;
	-fx-alignment: center;
	-fx-padding: 10;
}

RadioButton{
	-fx-text-fill: white;
}

CheckBox{
	-fx-text-fill: white;
}

ScrollPane{
	-fx-background: #3B3B3B;
}

#labelCreation{
	-fx-alignment: center-right;
	-fx-padding: 0 0 0 10;
}

#warning {
	-fx-text-fill: red;
}

#vide {
	-fx-text-fill: red;
	-fx-alignment: center;
	-fx-font: bold 15px "Arial";	
}

#barBtn{
	-fx-alignment: center;	
}

#Valider{
	-fx-background-color: green;
	-fx-text-fill: white;
	}

#Valider:hover{
	-fx-background-color: #60C460;
	-fx-text-fill: black;
}

#Annuler{
	-fx-background-color: red;
	-fx-text-fill: white;
}

#Annuler:hover{
	-fx-background-color : #FD6161;
	-fx-text-fill: black;
}

#titreInscription{
	-fx-border-color: #B5B7B3;
	-fx-border-radius: 5;
	-fx-font: bold 20px "Arial";	
	-fx-padding: 10px;
	-fx-alignment: center;
}

#titrePrincipal{
	-fx-font: bold 30px "Arial";	
	-fx-padding: 10px;
	-fx-alignment: center;
	
}

#titrePartie{
	-fx-font: bold 20px "Arial";	
	-fx-padding: 10px;
	-fx-alignment: center;
}

#btnMenu{
	-fx-background-color: #424242;
	-fx-text-fill: white;
	-fx-background-radius: 0;
}

#btnMenuBar{
	-fx-background-color: #424242;
	-fx-text-fill: white;
}

#btnMenu:hover{
	-fx-background-color: #02BACC;
	-fx-background-radius: 5;
}

#selectedBtn{
	-fx-background-color: #2A2A2A;
	-fx-background-radius: 7 7 0 0;
	-fx-text-fill: white;
}

/*PAGE CENTRALES */

#buttonImageRessource{
	-fx-padding: 0;
	-fx-background-color: #3B3B3B;
}

#buttonModifier{
	-fx-background-color: #3B3B3B;	
}

#buttonModifier:hover{	
	-fx-background-color: #02BACC;
}

#titreVosObjectifs{
	-fx-text-fill: black;
	-fx-alignment: center;
	-fx-font: bold 13px "Arial";			
}

#descriptionVosObjectifs{
	-fx-text-fill: black;
}

#AffichageTache{
	-fx-text-fill: black;
	-fx-padding: 10 0 0 0;
}

#RechercherObjectif{
	-fx-padding: 0 10 0 10;
	-fx-background-radius: 30px;
	-fx-background-color: #2A2A2A;
	-fx-border-radius: 30px;
	-fx-border-color: white;
	-fx-text-fill: white;
}

#gridPanneAfficherRessource{
	-fx-background-color: #FFEEA4;
	-fx-padding: 10;
	-fx-min-width:241px ;
	-fx-max-width:241px ;
}

#labelAfficherRessource{
	-fx-text-fill: black;	
}

#pointFortsRessource{
	-fx-text-fill: black;	
	-fx-border-color: black;
	-fx-border-radius: 10;
	-fx-padding: 0 10 0 10;
}

#EnleverPointForts{
	-fx-background-color: #FF9E00;	
	-fx-text-fill: black;
}

#EnleverPointForts:hover{
	-fx-background-color: #FF2F2F;	
}

#AjoutPointForts{
	-fx-background-color: #FF9E00;	
	-fx-text-fill: black;	
}

#AjoutPointForts:hover{
	-fx-background-color: green;
}

#PointsFortsComboboxModif{
	-fx-background-color: #FF9E00;	
}

/*MENU ICON */
#btnsIcons{
	-fx-background-color: #565656;	
}

#btnsIcons:hover{
	-fx-background-color: #02BACC;
}

#btnsIconsBar{
	-fx-padding: 5;
	-fx-border-color: black;
}

/*AJOUT OBJECTIF */
#labelRessourceObjectif{
	-fx-text-fill: black;
	-fx-alignment: center;
	-fx-background-radius: 0;
	-fx-background-color: #FFEEA4;
}

#labelRessourceObjectif:hover{
	-fx-background-color: #FF2F2F;
	-fx-background-radius: 0;
}

#labelRessourceNonObjectif{
	-fx-text-fill: black;
	-fx-alignment: center;
	-fx-background-radius: 0;
	-fx-background-color: #FFEEA4;
}

#labelRessourceNonObjectif:hover{
	-fx-background-color: #02BACC;	
	-fx-background-radius: 0;
}

#InterfaceAjoutTache{
	-fx-text-fill: black;
	-fx-alignment: center;
	-fx-background-color: #FFEEA4;		
}

#SupprimerTache{
	-fx-text-fill: black;
	-fx-alignment: center;
	-fx-background-color: #FFEEA4;	
}

#SupprimerTache:hover{
	-fx-background-color: #FF2F2F;	
}

/*RESSOURCES */
#cheminPhoto{
	-fx-background-color: #3B3B3B;
	-fx-border-color: black;
	-fx-padding: 5;
}

#boutonNavigation{
	-fx-background-color: #2A2A2A;
	-fx-text-fill: white;
	-fx-border-color: #2A2A2A;
}

#boutonNavigation:hover{
	-fx-background-color: #4B4B4B;
}

/*CATEGORIE */

#ColorPicker{
	-fx-background-color: #3B3B3B;
}

/*PARAMETRE */

#Renitialisation{
	-fx-text-fill: #FE2222;
	-fx-background-color: #9A9898;	
	-fx-background-radius: 20;
	-fx-border-color: black;
	-fx-border-radius: 20;
	-fx-alignment: center;
} 

#Renitialisation:hover{
	-fx-text-fill: #D20000;
}